@import url('https://fonts.googleapis.com/css2?family=Titan+One');

body{
    background-color : rgba(0, 0, 0, 1);
}

#header {
    width: 100%;
    padding: 0;
    background-color : rgba(0, 0, 0, 0);
    /* align-items: center; */
    float:left;
    position:absolute;
    /* display: flex;
    flex-direction : column; */
    /* justify-content: center; */
    /* width: 100%; */



}

.subheading {
  margin: 1%;
  display: flex;
  width: 100%;
  justify-content: center;
}
/* 
#sortButtonContainer {
    margin: 0;
    display: flex;
    justify-content: center;

} */ */

.div{
    margin:0.3%;
}


.sliderLabel{
    text-align : center;
    font-size: 200%;
}

#sliderContainer{
    display: flex;
    color:aliceblue;
    justify-content: center;

}

.button {
    font-family: 'Titan One', cursive;
    font-size: 300%;
    color: rgb(253, 133, 169);
    background-color : rgb(55, 29, 63);
    padding: 0.5%;
    margin: 1%;
    border-width: 5px;
    border-style: groove;
    border-color: rgb(27, 20, 128);
    border-radius: 20px;
}